<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <!-- Defines the location where the add-in will be installed 
	       which is typically C:\ProgramFiles\CADmunity\XButtons -->
    <StandardDirectory Id="ProgramFiles64Folder">
		<Directory Id="ManufacturerFolder" Name="!(bind.Property.Manufacturer)">
			<Directory Id="INSTALLFOLDER" Name="!(bind.Property.ProductName)" />
		</Directory>
    </StandardDirectory>
  </Fragment>
</Wix>
