<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
  <Package 
	  Id="CADmunity.XButtonsInstaller" 
	  Name="XButtons" 
	  Manufacturer="CADmunity" 
	  Version="1.0.0.0"
	  UpgradeCode="{844EBDAB-A26C-489C-895F-20651DE2E2E5}">
    <MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />

    <Feature Id="Main" Title="XButtons Add-in" Level="1">
		<ComponentGroupRef Id="XButtonsComponents" />
		<ComponentGroupRef Id="AddInRegistryGroup"/>
		<Feature Id="SourceCode"
				 Title="Source Code Zip"
				 Description="Incudes a .zip file of the source code in the installation folder."
				 Level="10">
			<ComponentGroupRef Id="SourceZipComponent"/>
		</Feature>
    </Feature>
	<UI>
		<ui:WixUI Id="WixUI_FeatureTree" />
	</UI>
	<Icon Id="XButtonsAddinIcon" SourceFile="xbuttons.ico"/>
	<Property Id="ARPPRODUCTICON" Value="XButtonsAddinIcon" />

	  <!-- Custom Branded Images -->
	  <WixVariable Id="WixUIDialogBmp" Value="Bitmaps\CADmunity-installer-left.bmp" />
	  <WixVariable Id="WixUIBannerBmp" Value="Bitmaps\CADmunity-installer-banner.bmp" />

	  <!-- Existing License Variable -->
	  <WixVariable Id="WixUILicenseRtf" Value="Resources\License.rtf" />
  </Package>
</Wix>
