<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
	  <!-- Adds the add-in GUID to the list of installed add-ins in the Windows registry -->
	  <ComponentGroup Id="RegistrationComponents">
		  <Component Id="AddinRegistration" Guid="*">
		  <RegistryKey Root="HKLM" Key="Software\SolidWorks\AddIns\{FADD2C64-FD1A-4624-B8B5-8C0597E36AB6}">
			  <RegistryValue Type="string" Name="Description" Value="Pass X1/X2 buttons to SOLIDWORKS" />
			  <RegistryValue Type="string" Name="Title" Value="XButtons" />
		  </RegistryKey>
		  </Component>
	  </ComponentGroup>
  </Fragment>
</Wix>
