<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>	  
	  <ComponentGroup Id="SourceZipComponent" Directory="INSTALLFOLDER">
		  <Component Guid="*">
			  <File Source="src.zip" KeyPath="yes" />
		  </Component>
	  </ComponentGroup>
  </Fragment>
</Wix>
