<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="XButtonsComponents" Directory="INSTALLFOLDER">
		<Component Guid="*">
			<File Source="$(var.XButtonsAddin.TargetDir)XButtons.dll" KeyPath="yes"/>
		</Component>
		
		<Component Guid="*">
			<File Source="$(var.XButtonsAddin.TargetDir)solidworkstools.dll"/>
		</Component>
    </ComponentGroup>
  </Fragment>
</Wix>
